<div class="profile-container">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="profile-avatar"></div>
        <mat-card-title class="info">José Maria</mat-card-title>
        <mat-card-subtitle class="sub-info">Servidor</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="teste">
        <ul class="contact-list">
          <li>
            <mat-icon class="contact-icon">phone</mat-icon>
            <span>(88) 88888-8888</span>
          </li>
          <li>
            <mat-icon class="contact-icon">email</mat-icon>
            <span>teste@example.com</span>
          </li>
          <li>
            <mat-icon class="contact-icon">assignment</mat-icon>
            <span>Matrícula: 2010123456</span>
          </li>
          <li>
            <mat-icon class="contact-icon">location_city</mat-icon>
            <span>Biblioteca - João Pessoa</span>
          </li>
          <li>
            <mat-icon class="contact-icon">event</mat-icon>
            <span>00/00/0000</span>
          </li>
          <li>
            <mat-icon class="contact-icon">location_on</mat-icon>
            <span>Endereço: Rua do Rio</span>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cards-container">
    <div class="card" *ngFor="let card of cards">
      <img class="card-image" [src]="card.imagem" alt="Imagem do card">
      <div class="card-content">
        <h3 class="card-title">{{ card.nome }}</h3>
        <p class="card-description">{{ card.descricao }}</p>
      </div>
    </div>
  </div>