<section class="body">
    <header class="header">
      <div class="header-content">
        <h1 class="title">Horários</h1>
        <button
        mat-raised-button
        class="button-add"
        [routerLink]="['/salas/sala-card/horario/adicionar']"
        routerLinkActive="active"
      >
        Adicionar horário
      </button>
      </div>
    </header>
  
    <main>
        
        
      <div class="cards-container">
        <div class="example-card">
          <mat-card class="wide-card">
            <mat-card-header class="centered-header">
              <div class="card-header-content">
                <mat-card-title class="card-title">Segunda</mat-card-title>
                <mat-card-subtitle class="card-subtitle"></mat-card-subtitle>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="button-container">
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <!----outro-->
        <div class="example-card">
          <mat-card class="wide-card">
            <mat-card-header class="centered-header">
              <div class="card-header-content">
                <mat-card-title class="card-title">Terça</mat-card-title>
                <mat-card-subtitle class="card-subtitle">20 Jul</mat-card-subtitle>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="button-container">
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
                <button mat-raised-button color="primary" class="small"><span>9h00-10h00</span></button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="example-card">
          <mat-card class="wide-card">
            <mat-card-header class="centered-header">
              <div class="card-header-content">
                <mat-card-title class="card-title">Quarta</mat-card-title>
                <mat-card-subtitle class="card-subtitle">21 Jul</mat-card-subtitle>
              </div>
            </mat-card-header>
          
          </mat-card>
        </div>


      </div>
          <!--DIVISAO TESTE-->
       
      
    
        
    </main>
  </section>
  