<section class="body">
    <header class="header">
      <div class="header-content">
        <h1 class="title">Horários</h1>
      </div>
    </header>
  
    <main>
      <div>
        <mat-card class="example-card wide-card">
          <mat-card-header class="centered-header">
            <div class="card-header-content">
              <mat-card-title class="card-title">Sexta</mat-card-title>
              <mat-card-subtitle class="card-subtitle">19 Jul</mat-card-subtitle>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="button-container">
              <button mat-raised-button color="primary" class="small">9h00</button>
              <button mat-raised-button color="primary" class="small">10h00</button>
              <button mat-raised-button color="primary" class="small">9h00</button>
            </div>
          </mat-card-content>
        </mat-card>
      
        
    </div>
        
    </main>
  </section>
  