<section class="body">
    <header class="header">
      <div class="header-content">
        <h1 class="title">Livros</h1>
        <button
          mat-raised-button
          class="button-add"
          [routerLink]="['/gestor/livros/adicionar']"
          routerLinkActive="active"
        >
          Adicionar +
        </button>
      </div>
  
      <mat-form-field class="input-pesquisar" appearance="outline">
        <mat-icon matIconPrefix>search</mat-icon>
        <mat-label>Pesquisar livro</mat-label>
        <input matInput type="text" [(ngModel)]="pesquisa" />
        <button
          *ngIf="pesquisa"
          matSuffix
          mat-icon-button
          aria-label="Limpar"
          (click)="pesquisa = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </header>
  
    <main class="livros-container">
      <mat-card *ngFor="let livro of livros">
        <mat-card-content (click)="irEditar(livro.id!)">
          <img src="{{ livro.url_img }}" alt="Imagem do Livro" />
          <p class="titulo">{{ livro.titulo }}</p>
          <p class="autor">{{ livro.autor }}</p>
        </mat-card-content>
      </mat-card> 
    </main>
  </section>
  