.sala-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 150px;
  border: solid 1px black;
  border-radius: 10%;
  margin-bottom: 16px;
  cursor: pointer;
}

.icon {
  width: auto;
  height: auto;
  align-self: center;
  font-size: 50px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

button{
  border-radius: 5%;
}
