@import "@angular/material/prebuilt-themes/indigo-pink.css";

.sidenav-content {
  padding: 2rem;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 6rem;
  background-color: #222020;
  box-shadow: 0.063rem 0 1.25rem #8690a3;
}

.logo-container {
  padding: 1rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  display: flex;
  flex-direction: column;

  .sidenav-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    transition: all 0.3s ease;

    .sidenav-link-icon {
      margin-bottom: 0.3rem;
    }

    .sidenav-link-text {
      font-weight: bold;
      text-align: center;
    }
  }
}

.sidenav-nav-item:hover {
  .sidenav-nav-link {
    background-color: #fff;
    color: #000;
  }
}

.active {
  background-color: #fff;
  .sidenav-link-icon,
  .sidenav-link-text {
    color: #000;
  }
}
