<section class="body">
    <header class="header">
      <h1 class="title">{{ tituloPagina }}</h1>
    </header>
  
    <main>
      <form [formGroup]="salaForm">
        <div class="form-content">
          <div class="left-content">
            <mat-form-field appearance="outline">
              <mat-label>Sala</mat-label>
              <mat-select formControlName="disponibilidade">
                <mat-option value="Sala em grupo 1">Sala em grupo 1</mat-option>
                <mat-option value="Sala em grupo 2">Sala em grupo 2</mat-option>
                <mat-option value="Sala individual 1">Sala individual 1</mat-option>
                <mat-option value="Sala individual 2">Sala individual 2</mat-option>
                <mat-option value="Sala individual 3">Sala individual 3</mat-option>
                <mat-option value="Sala individual 4">Sala individual 4</mat-option>
                <mat-option value="Sala individual 5">Sala individual 5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="right-content">
            <div class="form-group">
              <div fxLayout = "row-wrap">
                <div fxFlex="50" fxFill FxLayoutAlign="start center">
                  <mat-form-field appearance="outline">
                    <mat-label>Data</mat-label>
                    <input
                      formControlName="data_publicacao"
                      matInput
                      [matDatepicker]="picker"
                      name="data_publicacao"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div fxFlex="50" fxFill FxLayoutAlign="start center">
                  <div class="min-time-example">
                    <mat-form-field appearance="outline"> 
                      <input matInput placeholder="Horário Inicial" [ngxTimepicker]="min" [min]="'07:00 am'" [ngxTimepicker]="max" [max]="'08:00 pm'"  readonly>
                      <mat-icon matSuffix>access_time</mat-icon>
                      <ngx-material-timepicker #min #max [theme]="darkTheme"></ngx-material-timepicker>
                    </mat-form-field>
                  </div>
                  
                  <div class="max-time-example">
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Horário Final" [ngxTimepicker]="min" [min]="'08:00 am'"[ngxTimepicker]="max" [max]="'09:00 pm'" readonly>
                      <mat-icon matSuffix>access_time</mat-icon>
                      <ngx-material-timepicker #min #max [theme]="darkTheme" ></ngx-material-timepicker>
                    </mat-form-field>
                  </div>
                 
                </div>                  
              </div>
          </div>
            <div class="buttons-form">
              <button
                mat-raised-button
                
                type="button"
                class="button-apagar"
                *ngIf="modoEdicao"
              >
                Apagar
              </button>
  
              <button mat-raised-button class="button-adicionar" type="submit">
                {{ mensagemBotaoConfirmar }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </main>
  </section>
  