@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

#cadastrar-component {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.banner {
    height: 100%;
    width: 60%;
    background-color: #96CD9D;
    display: flex;
}

.banner #logo-ifpb{
    position: absolute;
    top: 16px;
    left: 16px;
    width: 40px;
    height: 50px;
}

.banner #banner-img {
    height: 500px;
    width: 500px;
    margin: auto;
}

.main {
    width: 40%;
}

.main form{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#title-form {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2.7rem;
    color: #ECACAE;
    padding: 5% 0;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group mat-form-field{
    width: 48%;
}

.form-single mat-form-field{
    width: 100%;
}

.submit-button {
    width: 50%;
    margin: auto;
}

.submit-button button{
    width: 100%;
    height: 48px;
    color: white;
    background-color: #43A047;
    border-radius: 16px;
}