<div id="cadastrar-component">
    <div class="banner">
        <img id="logo-ifpb" src="../../../assets/ifpb.png" alt="">
        <img id="banner-img" src="../../../assets/sing-in.svg" alt="">
    </div>

    <div class="main">
        <form (ngSubmit)="submit()" [formGroup]="cadastrarForm" #formDir="ngForm">
            <h1 id="title-form">Criar conta</h1>

            <div class="form-content">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input formControlName="nome" type="text" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sobrenome</mat-label>
                        <input formControlName="sobrenome" type="text" matInput>
                    </mat-form-field>
                </div>

                <div class="form-single">
                    <mat-form-field appearance="outline">
                        <mat-label>Matrícula</mat-label>
                        <input formControlName="matricula" mask="00000000000" matInput>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>CPF</mat-label>
                        <input formControlName="cpf" mask="000.000.000-00" matInput>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input formControlName="password" type="password" matInput>
                    </mat-form-field>
                </div>

                <div class="form-single">
                    <mat-form-field appearance="outline">
                        <mat-label>Comprovante de residência (Endereço)</mat-label>
                        <input formControlName="endereco" matInput>
                    </mat-form-field>
                </div>

                <div class="submit-button">
                    <button mat-raised-button color="primary">Cadastrar</button>
                </div>
            </div>
        </form>
    </div>
</div>